<!doctype html>
<html>
    <head>
        <title>Duriez Rémi</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1><span class="machine">duriez.re</span><span class="human">mi</span></h1>
            <p>Bonjour, je suis Rémi ! Envie d'en savoir plus sur moi ?</p>
        </header>

        <main>
            <div class="profile facebook">
                <div class="profile-display">
                    <div class="profile-desc">
                        <p>J'habite à Lille.</p>
                    </div>
                </div>
                <div class="profile-link">
                    <a href="https://www.facebook.com/duriez.remi">
                        <span>Voir mon profil personnel sur Facebook</span>
                    </a>
                </div>
            </div>

            <div class="profile linkedin">
                <div class="profile-display">
                    <div class="profile-desc">
                        <p>Je suis développeur chez Ineat.</p>
                    </div>
                </div>
                <div class="profile-link">
                    <a href="https://www.linkedin.com/in/duriez">
                        <span>Voir mon profil professionnel sur Linkedin</span>
                    </a>
                </div>
            </div>

            <div class="profile lastfm">
                <div class="profile-display">
                    <div class="profile-desc">
                        <p>J'écoute<span id="artists"></span>…</p>
                        <div class="profile-samples"></div>
                    </div>
                </div>
                <div class="profile-link">
                    <a href="https://www.last.fm/fr/user/RemiDu">
                        <span>Voir mes artistes préférés sur Last.fm</span>
                    </a>
                </div>
            </div>

            <div class="profile betaseries">
                <div class="profile-display">
                    <div class="profile-desc">
                        <p>Je regarde<span id="shows"></span>…</p>
                        <div class="profile-samples"></div>
                    </div>
                </div>
                <div class="profile-link">
                    <a href="https://www.betaseries.com/membre/remi/series">
                        <span>Voir mes séries en cours sur Betaseries</span>
                    </a>
                </div>
            </div>

            <div class="profile comicgeeks">
                <div class="profile-display">
                    <div class="profile-desc">
                        <p>Je lis<span id="comics"></span>…</p>
                        <div class="profile-samples"></div>
                    </div>
                </div>
                <div class="profile-link">
                    <a href="https://leagueofcomicgeeks.com/profile/remi/read-list">
                        <span>Voir ma liste sur Comic Geeks</span>
                    </a>
                </div>
            </div>

            <div class="profile gamekult">
                <div class="profile-display">
                    <div class="profile-desc">
                        <p>Je joue<span id="games"></span>…</p>
                        <div class="profile-samples"></div>
                    </div>
                </div>
                <div class="profile-link">
                    <a href="https://www.gamekult.com/membre/remidu-1241161/collection">
                        <span>Voir ma collection sur Gamekult</span>
                    </a>
                </div>
            </div>

            <div class="profile untappd">
                <div class="profile-display">
                    <div class="profile-desc">
                        <p>Je bois des bières<span id="beers"></span>…</p>
                        <div class="profile-samples"></div>
                    </div>
                </div>
                <div class="profile-link">
                    <a href="https://untappd.com/user/remidu">
                        <span>Voir mon palmarès sur Untappd</span>
                    </a>
                </div>
            </div>
        </main>
    
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
